*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #16141D;
    --highlight-color: #ffc806;
    --font-color-light: #ffffff;
    --font-color-dark: #000000;
    --header-font: 'Playfair Display', serif;
    --subtext-font: 'Inter', sans-serif;
    --subtext-font-two: 'Crimson Text', serif;
    
}

html{
    font-size: 20px;
    background-color: var(--background-color);
    color: var(--font-color-light);
    font-family: var(--subtext-font);
}
body{
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1, h2, h3{
    font-family: "Playfair Display", serif;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 0px 40px 0px;
}

.topSloganTxt{
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

#recipe_carousell{
    width: 100%;
    height: 500px;
    background-color: white;
    position: relative;
    /* overflow:hidden; */

}
#tiles_container{
    display: flex;
    /* flex-direction: row-reverse; */
    width: 100%;
    height: 100%;
    position: relative;
    /* scale: 0.3; */
    /* overflow: hidden; */
    
    /* justify-content: center; */
}
#tiles_container>.info_tiles, #tiles_container>.img_tiles{
    /* overflow: hidden; */
    /* position: absolute; */
    width: 50%;
    height: 100%;
    background-position: center;
    /* transition: ease-in-out 0.5s; */
    border: #000000;
    display: flex;
    display: relative;
    overflow: hidden;
}
#img_tiles{
    position: relative;
}
#info_tiles{
    position: relative;
}
#search_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
}
.info_tile{
    background-color: #ffffff;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    /* transition: 0.5s; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: #000000;
    border-left: #000000;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    color: black;
}

.img_tile{
    background-color: green;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    /* transition: 0.5s; */
}





.carousell_arrows{
    position: absolute;
    top: 0%;    
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;

}
.carousell_arrows>button{
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: 10;
    border-radius: 50%;
    border: none;
    color: white;
    background: #00000096;
    font-size: 1rem;
}

.arrows{
    width: 50%;
    padding-top: 0.1vw; 
    padding: 0.7vw 4px 0.3vw 4px;
}

/* #prev{
    margin-left: 51vw;
}

#next{
    margin-right: 1vw;
} */

.info_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
    padding: 50px;
    overflow: hidden;
}

#recipe_box{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

#recipe_box>.recipe_col{
    width: 300px;
    height: auto;
    
    margin: 20px;
    
}
.img_container{
    cursor: pointer;
    width: inherit;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 0.5rem;
    height: 250px;
    
}
.recipe_img{
    width: 100%;
    overflow-y: hidden;
    background-position: center;
    scale: 1.1;
    background-size: contain;
    transition: all 0.5s;
    aspect-ratio: 1/1;
    /* transform-origin: center; */
    
}
.recipe_tile:hover .recipe_img{
    transform: scale(1.1);
    
}
.recipe_tile{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    max-height: 500px;
}

.rt_element{
    margin: 10px 0px 15px 0px;
}

.recipe_tile h3{
    cursor: pointer;
    font-family: var(--subtext-font-two);
    font-size: larger;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: #FFC806;
}

.recipe_tile>h3:hover{
    color: var(--highlight-color);
}
.recipe_description{
    min-height: 180px;
}
#searchbox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchbar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.searchbar button{
    cursor: pointer;
    width: 80px;
    height: 23px;
    margin-left: 5px;
    border: none;
    border-radius: 0.2vw;
    font-size: 0.65rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: black;
    background-color: #ffc806;
}

#search_button {
    background-color: black;
    border: solid 0.01px;
    color: white;
    border-color: white;
}

#searchbar{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 0.2vw;
    padding: 0 0 0 0.4rem;
}

.allRecipeHeader{
    margin: 4vw 0 0.5vw;
}

.belowAllRecipeTxt{
    margin-bottom: -2vw;
}

.tags{
    font-size: 0.65rem;
    margin: -12px 0 10px;
}

.recipe_description{
    font-size: 0.82rem;;
    cursor: pointer;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*footer stuff*/
.footer {
    background-color: #16141D;
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
}

/*bg image of footer*/
.footer:before {
    content: "";
    position: absolute;
    /*top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;*/
    width: 100%;
    height: 100%;
    background-image: url("../images/footerInverted.png");
    background-size: contain;
    opacity: .12;
}

.footerContent {
    display: flex;
}

.firstCol{
    width: 45%;
    padding-left: 8vw;
}

.firstCol h1 {
    position: relative;
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    color: white;
    margin: 2vw 0 -0.8vw;
}

.firstCol p {
    position: relative;
    font-family: "Kurale", serif;
    margin-top: 8px;
    font-size: 0.8rem;
    letter-spacing: 3.8px;
    color: white;
}

.devs {
    position: relative;
    list-style-type: none;
    color: white;
    font-size: 0.6rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    margin-top: 9px;
    margin-left: 0px;
    margin: 1.2vw 0 3vw 0.5vw;
}
.secondCol {
    position: relative;
    color: white;
    font-size: 1rem;
    padding-right: 17vw;
}

.secondCol h2{
    font-size: 0.85rem;
    text-wrap: nowrap;
}

.secondCol ul {
    padding: 0;
    margin-top: -5px;
}

.secondCol p {
    padding-right: 30px;
    font-size: 0.8rem;
}
.secondCol li, .secondCol img, .secondCol p {
    filter: brightness(999);
    width: 1.6rem;
    display: flex;
    position: relative;
    font-family: "Aleo", serif;
    list-style-type: none;
    margin-bottom: 1.7vw;
    align-items: center;
}

.secondCol h2 {
    font-size: 1.3rem;
    margin-top: 3vw;
    margin-bottom: 0.9vw;
}

.footerBot {
    width: 100%;
}

.footerLine {
    width: 90%;
    height: 1.5px;
    background-color: white;
}

.botTxt h3 {
    font-family: "Aleo", serif;
    font-size: 1.5vw;
    position: relative;
    color: white;
    margin: 12px 0 16px;
}
.read{
    font-size: small;
    color: black;
    margin-top: 20px;
    
}

.read:hover{
    cursor: pointer;
}
.info_name{
    text-decoration: underline;
    text-decoration-color: var(--highlight-color);
}