*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #16141D;
    --highlight-color: #ffc806;
    --font-color-light: #ffffff;
    --font-color-dark: #000000;
    --header-font: 'Playfair Display', serif;
    --subtext-font: 'Inter', sans-serif;
    --subtext-font-two: 'Crimson Text', serif;
    
}